name: Integration Continue

on:
  push:
    branches:
      - main
      - "feature/**"
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Installation des dependances
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Execution des tests + coverage
        run: |
          python -m coverage run -m unittest tests/test_calculator.py
          coverage report -m
